@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
}

#conteiner{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#apresentation{
    width: 50vw;
    display: flex;
    flex-direction: column;
}

#apresentation span{
    margin-left: 20px;
}

#login-area{
    width: 50vw;
    display: flex;
    flex-direction: column;
    background-color: #152127;
    justify-content: center;
    align-items: center;
}

#img-apresentation{
    width: 80%;

}

footer{
    width: 100%;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
}

.spn-footer{
    display: flex;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
}

input{
    width: 80%;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    background-color: #152127;
    border-width: 1px;
    border: 1px solid #253339;
}
#enter{
    background-color: #3441af;
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: #3441af;
    width: 80%;
    height: 40px;
    font-weight: bold;
    margin: 5px 0px;
    cursor: pointer;
}

a{
    margin: 15px 0px;
    font-size: 0.9rem;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

span a{
    margin-left: 5px;
    color: #5666f1;
    font-weight: bold;
}

span p{
    font-size: 0.9rem;
}