@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    font-family: "Lora", serif;
    background-color: #c5dfe0;
}
div{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    background-color: #81749c;
    border-radius: 10px;
    border: 2px solid #4d3e6b;
    min-height: 50vh;
    min-width: 50vh;
    max-width: 90%;
}
input{
    height: 35px;
    margin: 5px;
    border-radius: 5px;
    background-color: #c5dfe0;
    padding: 5px;
    border-color: #a09e9e33;
    width: 70%;
}
button{
    width: 30%;
    height: 35px;
    margin: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5px;
    border-color: #a09e9e33;
}
#b1{
    background-color: #4d3e6b;
}
#b2{
    background-color: #8daec3;
}
span{
    color: #000000ce;
}
span:hover{
    color: #d3e6b7;
    cursor:pointer;
}
svg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button:hover{
    cursor: pointer;
}